@charset 'utf-8';

#loading {
    transition: all 1s;
    background-color: #ddd;
    position: fixed;
    z-index: 9999;
    /* top, bottom, left, rightを0にする */
    inset: 0;
    display: grid;
    /* display: none; */
    place-items: center;
}

.loaded {
    /* アニメーション用 */
    opacity: 0;
    /* div#loading要素の操作を無効にする用 */
    visibility: hidden;
}

.spinner {
    width: 200px;
    height: 200px;
}

.gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}